<section class="h-[80vh]">
  <div
    class="relative flex justify-center min-h-screen overflow-hidden lg:px-0 md:px-12"
  >
    <div
      class="flex min-h-full flex-1 flex-col justify-center px-6 py-12 md:flex-none lg:py-24 md:px-28 sm:justify-center"
    >
      <div
        class="w-full max-w-md h-full mx-auto md:max-w-sm md:px-0 md:w-96 mt-20"
      >
        <div
          class="sm:mx-auto sm:w-full md:max-w-sm md:px-0 md:w-[28rem] sm:px-4"
        >
          <img
            class="mx-auto h-10 w-auto"
            src="https://tailwindui.com/img/logos/mark.svg?color=indigo&shade=600"
            alt="Your Company"
          />
          <h2
            class="mt-10 text-center text-2xl font-bold leading-9 tracking-tight text-gray-900"
          >
            Sign in to your account
          </h2>
        </div>

        <div class="mt-10 sm:mx-auto sm:w-full sm:max-w-sm">
          <form
            class="space-y-6"
            [formGroup]="formLogin"
            (ngSubmit)="onSubmit()"
          >
            <div>
              <label
                for="email"
                class="block text-sm font-medium leading-6 text-gray-900"
                >Email</label
              >
              <div class="mt-2">
                <input
                  type="email"
                  name="email"
                  formControlName="email"
                  id="email"
                  class="block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6"
                />

                <small
                  class="text-red-500"
                  *ngIf="formLogin.controls['email'].errors?.['required'] && formLogin.controls['email'].touched"
                >
                  Este campo es obligatorio
                </small>
                <small
                  class="text-red-500"
                  *ngIf="formLogin.controls['email'].errors?.['email'] && formLogin.controls['email'].touched"
                >
                  El formato no es correcto
                </small>
              </div>
            </div>

            <div>
              <div class="flex items-center justify-between">
                <label
                  for="password"
                  class="block text-sm font-medium leading-6 text-gray-900"
                  >Password</label
                >
                <div class="text-sm">
                  <a
                    href="#"
                    class="font-semibold text-indigo-600 hover:text-indigo-500"
                    >Olvistaste tu constraseña?</a
                  >
                </div>
              </div>
              <div class="mt-2">
                <input
                  type="password"
                  name="password"
                  formControlName="password"
                  id="password"
                  class="block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6"
                />
                <small
                  class="text-red-500"
                  *ngIf="formLogin.controls['password'].errors?.['required'] && formLogin.controls['password'].touched"
                >
                  Este campo es obligatorio
                </small>
              </div>
            </div>

            <div>
              <button
                type="submit"
                class="items-center justify-center w-full px-6 py-2.5 text-center disabled:cursor-not-allowed disabled:bg-slate-500 disabled:text-slate-100 cursor-pointer text-white duration-200 bg-black border-2 border-black rounded-full nline-flex hover:bg-transparent hover:border-black hover:text-black focus:outline-none focus-visible:outline-black text-sm focus-visible:ring-black"
                [disabled]="formLogin.invalid"
              >
                Ingresar
              </button>
            </div>
          </form>

          <p class="mt-10 text-center text-sm text-gray-500 pt-4">
            No tienes una cuenta?
            <a
              routerLink="/register"
              class="font-semibold leading-6 cursor-pointer text-indigo-600 hover:text-indigo-500"
              >Registrarse aqui</a
            >
          </p>
        </div>
      </div>
    </div>

    <div class="hidden bg-white lg:block lg:flex-1 lg:relative sm:contents">
      <div
        class="absolute inset-0 object-cover w-full h-full bg-white"
        alt=""
        height="1866"
        width="1664"
      >
        <img
          class="object-center w-full h-auto bg-gray-200"
          src="https://d33wubrfki0l68.cloudfront.net/64c901dbc4b16388ef27646a320ad9c1441594df/236fd/images/placeholders/rectangle2.svg"
          alt=""
          width="1310"
          height="873"
        />
      </div>
    </div>
  </div>
</section>
